<!--Channel pannel -->
<div class="bg-white rounded-lg shadow-md p-6 mb-4 mt-4 h-100 overflow-y-auto">
    <div class="flex-col justify-between items-center mb-4" id="channels">
        <h2 class="text-xl font-semibold text-gray-800" >Canales Seleccionados</h2>
        {% for channel in channels %}
            <div class="flex flex-row justify-start items-center space-x-4 mb-4">
                <label for="active-{{ channel.name }}">
                    <input type="checkbox" id="active-{{ channel.name }}" name="active-{{ channel.name }}" value="{{ channel.id }}" {% if channel.active %}checked{% endif %}>
                    Active
                </label>
                <h3>{{channel.name}}</h3>
            </div>
        {% endfor %}
    </div>
    <!-- Script for updating channel active state event -->
    <script>
        socket = window.socket || io.connect('http://' + document.domain + ':' + location.port);
    
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const channelid = this.value;  
                const isActive = this.checked;   
                socket.emit('update_channel_active', { id: channelid, active: isActive });
            });
        });
    
    </script>
    
</div>